{{>header}}
        <ul class="pastes">
          {{#Pastes}}
            <li>
                <strong><a href="{{DocPath}}/_rewrite/paste/{{id}}">{{title}}</a></strong> 
                [<a href='{{DocPath}}/_rewrite/languages/"{{language}}"'>{{language}}</a>]<br />
                Created at {{date}};<br />
					{{#hasTags}}Tags: {{#tags}}
						<a href='{{DocPath}}/_rewrite/tags/"{{.}}"'>{{.}}</a> 
					{{/tags}}{{/hasTags}}
					{{^hasTags}}Not tagged{{/hasTags}}
            </li>
			{{/Pastes}}
{{>footer}}