<!DOCTYPE html>
<html>
  <head>
    <title>Popcorn: {{Title}}</title>
    <meta charset="utf-8" /> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../style/main.css" type="text/css">
	<link rel="stylesheet" href="../../style/highlight.css" type="text/css">
</head> 
<body> 
  <div class="container">
{{>header}}
  
    <div class="content">
      <h2>{{Title}} [{{Language}}]</h2> 

      <p> Tags:
        {{#Tags}}{{tag}}{{/Tags}} 
      </p> 

      <p>Created {{Created}}</p> 
      
      <div class="code">
        <pre class="prettyprint">{{Code}}</pre>
      </div>
    </div>
    {{>footer}}
  </div> 
</body>
</html>