{{>header}}
      <p>{{#hasTags}}Tags: {{#tags}}
				<a href='{{DocPath}}/_rewrite/tags/"{{.}}"'>{{.}}</a> 
			{{/tags}}{{/hasTags}}
      </p> 
      <p>Created {{Created}}</p> 
      <div class="code">
        <code class="prettyprint linenums:4">{{Code}}</code>
      </div>
<script src="/_utils/script/jquery.js"></script>
<script src="{{DocPath}}/vendor/google-prettify/prettify.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("code").html($("code").html().replace(/\n/g,"<br/>"));
	prettyPrint();
});
</script>
<link rel="stylesheet" href="{{DocPath}}/vendor/google-prettify/prettify.css" type="text/css">
{{>footer}}
